@page "/delete/{id}/"
@using BlazorStudents.Models
@inject HttpClient httpClient
@inject NavigationManager NavManager
<p>Student with ID == @Id</p>

@if (student != null ) // Delete form
{
<h1>Delete</h1>
<p>First Name:@student.FirstName</p>
<p>Last Name:@student.LastName</p>
<p>School:@student.School</p>
<EditForm Model="@student" OnValidSubmit="@HandleDelete">

<button type="submit" value="Delete" class="btn btn-danger">Submit</button>
@code {
protected async void HandleDelete()
{
string endpoint = $"{Constant.BASE_URL}api/students/{student!.StudentId}";
await httpClient.DeleteAsync(endpoint);
NavManager.NavigateTo("/students");
}
}
</EditForm>
}
@code {
[Parameter]
public string? Id { get; set; }

Student? student;
protected override async Task OnInitializedAsync()
{
var url = $"{Constant.BASE_URL}api/students/{Id}";
student = await httpClient.GetFromJsonAsync<Student>(url);
}
}

